<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<th:block th:insert="~{/fragments/heading/heading :: heading(title='Home')}"/>
<body>
<!--<th:block th:insert="~{fragments/util/header :: header}"/>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between px-5 py-3">
    <div class="header__menu">
        <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center align-content-center">
        <form action="/" method="get" class="form d-flex" id="formSearch">
            <div class="input-group pb-3 pe-3">
                <input type="text" id="search" name="search" class="form-control border-1 rounded-1"
                       placeholder="Search"
                       style="min-height: 3rem">
            </div>
            <div class="input-group pb-3 pe-3">
                <input class="min_price form-control me-4 border-1 rounded-1" style="min-height: 3rem" type="number" name="number" placeholder="min price" min="0" />
                <input class="max_price form-control me-4 border-1 rounded-1" style="min-height: 3rem" type="number" name="number" placeholder="max price" max="10000000" />
                <button type="submit" class="btn border-1 rounded-1">Search</button>
            </div>
            <div class="p-2">
                <a role="button" class="btn" th:href="@{/cart}">Cart</a>
            </div>
            <div class="p-2">
                <a role="button" class="btn" th:href="@{/auth/login}">Login</a>
            </div>
            <div class="p-2">
                <a role="button" class="btn" th:href="@{/auth/register}">Register</a>
            </div>
            <div class="p-2">
                <a role="button" href="/" class="logout btn">Logout</a>
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="details text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="fw-bold h-3">Name</th>
                <th scope="col" class="fw-bold h-3">Brand</th>
                <th scope="col" class="fw-bold h-3">Color</th>
                <th scope="col" class="fw-bold h-3">Price</th>
                <th scope="col" class="fw-bold h-3">Category</th>
                <th scope="col" class="fw-bold h-3"></th>
            </tr>
            </thead>
            <tbody class="txt">
            </tbody>
        </table>
    </div>
</div>
<th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
<script th:src="@{/js/index.js}"></script>
</body>
</html>